@model KlippCoApp.Models.StylistSchedule

@{
    ViewData["Title"] = "Radera schema";
    Layout = "_AdminLayout";
    ViewData["BodyClass"] = "admin-page";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <h3>Är du säker på att du vill ta bort detta schema?</h3>
    <hr />
    <div>
        <h4>@Model.Day.ToShortDateString()</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Stylist)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Stylist.Firstname) @Model.Stylist.Lastname
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Day)
            </dt>
            <dd class="col-sm-10">
                @Model.Day.ToShortDateString()
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.StartTime)
            </dt>
            <dd class="col-sm-10">
                @Model.StartTime.ToString(@"hh\:mm")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EndTime)
            </dt>
            <dd class="col-sm-10">
                @Model.EndTime.ToString(@"hh\:mm")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BreakStart)
            </dt>
            <dd class="col-sm-10">
                @Model.BreakStart.ToString(@"hh\:mm")
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BreakEnd)
            </dt>
            <dd class="col-sm-10">
                @Model.BreakEnd.ToString(@"hh\:mm")
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Radera" class="btn btn-danger mb-4" />
        </form>
        <a asp-action="Index">Tillbaka till scheman</a>
    </div>
</div>
