@model IEnumerable<KlippCoApp.Models.StylistScheduleWithBookingCountViewModel>

@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Schema";
    Layout = "_AdminLayout";
    ViewData["BodyClass"] = "admin-page";
}

@{
    var user = SignInManager.IsSignedIn(User) ? await UserManager.GetUserAsync(User) : null;
    var roles = user != null ? await UserManager.GetRolesAsync(user) : null;
    var isAdmin = roles != null && roles.Contains("Admin");
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>
        <a asp-action="Create">Lägg till schema</a>
    </p>
    <form method="get" class="row g-3">
        <div class="col-auto">
            <label for="StylistId" class="col-form-label">Välj Stylist</label>
        </div>
        <div class="col-auto">
            <select name="selectedStylistId" id="stylistId" class="form-control"
                asp-items="@ViewData["StylistId"] as SelectList">
                <option value="">Visa alla</option>
            </select>
        </div>
        <div class="col-auto mb-2">
            <button type="submit" class="btn btn-primary">Filtrera</button>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StylistName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    Rast
                </th>
                <th class="text-center">
                    Antal bokningar
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.StylistName != null)
                        {
                            @Html.DisplayFor(modelItem => item.StylistName)
                        }
                        else
                        {
                            <p>Namn inte tillgängligt</p>
                        }
                    </td>

                    <td>
                        @item.Day.ToShortDateString()
                    </td>

                    <td>
                        @item.StartTime.ToString(@"hh\:mm")
                    </td>

                    <td>
                        @item.EndTime.ToString(@"hh\:mm")
                    </td>

                    <td>
                        @item.BreakStart.ToString(@"hh\:mm")
                        <span>-</span>
                        @item.BreakEnd.ToString(@"hh\:mm")
                    </td>

                    <td class="text-center">
                        @(item.BookedCount > 0 ? item.BookedCount : "-")
                    </td>

                    @if (isAdmin || item.StylistId == user.Id)
                    {
                        <td>
                            @if(item.BookedCount > 0) {
                                <a asp-action="BookingOverview" asp-route-scheduleId="@item.Id" class="">Bokningar</a> <span>|</span>
                            }
                            <a asp-action="Edit" asp-route-id="@item.Id" class="">Redigera</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">Radera</a>
                        </td>
                    }
                    else
                    {
                        @if (item.BookedCount > 0)
                        {
                            <td>
                                <a asp-action="BookingOverview" asp-route-scheduleId="@item.Id" class="">Bokningar</a>
                            </td>
                        } else {
                            <td></td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>