@model BookingViewModel

@{
    Console.WriteLine(ViewData);
    ViewData["Title"] = "Tack för din bokning!";
}

<div class="banner d-flex justify-content-center align-items-center">
    <div class="container">
        <img src="~/images/Klipp&Co.svg" alt="Logo" class="img-fluid">
        <h1 class="h1 mt-4 text-light">@ViewData["Title"]</h1>
    </div>
</div>

<div class="container">
    <div class="mt-4 bg-light rounded p-4">
        <h2>Bokningsdetaljer</h2>
        <p><strong>Tjänst:</strong> @Model.ServiceName</p>
        <p><strong>Stylist:</strong> @Model.StylistName</p>
        <p><strong>Tid:</strong> @Model.BookingTime.ToString("HH:mm")</p>
        <p><strong>Datum:</strong> @Model.BookingTime.ToString("yyyy-MM-dd")</p>

        <a asp-action="SelectService" class="btn btn-primary me-2">Boka ny tid</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary me-2">Till startsidan</a>

    </div>
</div>